*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu_box{
    width: 100vw;
    height: 15vh;
    background: black;
    display: flex;
}

img{
    height: 2rem;
    width: 2rem;
    position: relative;
    top: 0.8rem;
    left:1rem;
}

ul{
    color: blanchedalmond;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.2rem;
    position: absolute;
    right: 1rem;
}

li{
    list-style: none;
    cursor: pointer;
    font-size: 1.2rem;
}

li:nth-child(1){
    margin-left: 1.6rem;
}
li:nth-child(2){
    margin-left: 1.6rem;
}
li:nth-child(3){
    margin-left: 1.6rem;
}
li:nth-child(4){
    margin-left: 1.6rem;
}




.footer{
    background: black;
    color: white;
    height: 2rem;
    margin-top: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.footer p{
    text-align: center;
    font-size: 1rem;
}







.form_box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}


.form{
    border: 1px solid black;
    padding: 1.7rem;
    margin: 0.7rem;
    margin-top: 1.2rem;
    border-radius: 1.2rem;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

input{
    width: 10rem;
    margin-top: 1.6rem;
    border: none;
    border-bottom: 2px solid navy;
    font-size: 1.1rem;
    outline: none;
    text-transform: capitalize;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    left: 36%;
}


textarea{
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    font-size: 1.5rem;
    outline: none;
    width: 39rem;
    height: 10rem;
    text-transform: capitalize;
    margin-top: 0.7rem;
    border-radius: 1.5rem;
    text-align: center;
}


.add_btn{
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    font-weight: lighter;
    outline: none;
    position: relative;
    left: 17.5rem;
    top: -6.1rem;
}

.add_btn:active{
    background: black;
    font-size: bolder;
    color: blanchedalmond;
}








.item_main_div{
    border: 0.5px solid black;
    height: 10rem;
    width: 20rem;
    position: relative;
    left: 1.6rem;
    padding: 1.6rem;
    border-radius: 1.6rem;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
    display: inline-block;
    margin-left: 1.6rem;
    margin-top: 1.6rem;
}

.head{
    font-weight: bold;
    font-size: 1.6rem;
    font-family: fantasy;
    letter-spacing: 0.03rem;
    text-transform: capitalize;
}

.content_para{
    font-family: monospace;
    margin-top: 0.3rem;
    text-transform: capitalize;
    font-size: 1.3rem;
}


.delete_btn{
    font-weight: bolder;
    border: none;
    outline: none;
    color: red;
    background: white;
    position: relative;
    left: 8rem;
    top: 1.3rem;
}


@media only screen and (max-width:765px){
    .form {
        padding: 1.7rem;
        margin: 0.7rem;
        width: 25rem;
        margin-top: 1.2rem;
        border-radius: 1.2rem;
    }

    textarea{
        width: 22rem;
    }
    input{
        left: 27%;
    }
    .add_btn{
        left: 9.5rem;
    }
    img {
        height: 2rem;
        width: 2rem;
        position: relative;
        top: 0.7rem;
        left: 0.5rem;
    }
    .item_main_div{
        width: 25rem;
        left: 3.8rem;
        right: 3.8rem;

    }
    .delete_btn{
        left: 10rem;
        top: 0.3rem;
    }
    .menu_box{  
        height: 13vh;
        }

}

@media only screen and (min-width:300px) and (max-width:500px){
    .form {
        padding: 0.7rem;
        margin: 0.7rem;
        width: 15rem;
        margin-top: 2.2rem;
        border-radius: 1.2rem;
    }
    .menu_box{  
    height: 8vh;
    }
    textarea{
        width: 13.5rem;
        border-radius: 0.5rem;
        padding: 10px;
    }
    input{
        left: 11%;
    }
    img {
        height: 1rem;
        width: 1rem;
        position: relative;
        top: 0.3rem;
        left: 0.3rem;
    }
    .add_btn{
        left: 5.3rem;
        background: black;
        color: white;
        font-size: 1rem;
        height: 2rem;
        width: 2rem;
        border-radius: 9%;
        font-weight: lighter;
        outline: none;
        position: relative;
        top: -4.1rem;
    }


    .item_main_div{
        width: 15rem;
        left: 2rem;
        right: -2rem;
    }
    .delete_btn{
        left: 5.5rem;
        top: 0.1rem;
    }
    li {
        list-style: none;
        cursor: pointer;
        font-size: 0.6rem;
        position: relative;
        margin-top: -0.6rem;
    }

    
li:nth-child(1){
    margin-left: 0.6rem;
}
li:nth-child(2){
    margin-left: 0.6rem;
}
li:nth-child(3){
    margin-left: 0.6rem;
}
li:nth-child(4){
    margin-left: 0.6rem;
}

}